$blue: #00B9FF;
$darkBlue: #211D28;
$nightBlue: #18151E;
$green: #00D692;
$red: #ff504d;
$yellow: #FFE032;
$beige: #f2ebe3;
$darkBeige: #a9a29e;
$mediumGrey : #464452;
$darkGrey: #33323a;
$lightGrey: #f5f5f5;

.font-color-blue {color: $blue;}
.font-color-darkBlue {color: $darkBlue;}
.font-color-nightBlue {color: $nightBlue;}
.font-color-green {color: $green;}
.font-color-red {color: $red;}
.font-color-yellow {color: $yellow;}
.font-color-beige {color: $beige;}
.font-color-darkBeige {color: $darkBeige;}
.font-color-mediumGrey {color: $mediumGrey;}
.font-color-darkGrey {color: $darkGrey;}
.font-color-lightGrey {color: $lightGrey;}