:export {
  BLUE: #00b9ff;
  DARK_BLUE: #211d28;
  NIGHT_BLUE: #18151e;
  GREEN: #00d692;
  RED: #ff504d;
  YELLOW: #ffe032;
  BEIGE: #f2ebe3;
  DARK_BEIGE: #a9a29e;
  LIGHT_GREY: #f5f5f5
}

:export {
  BREAK_POINT_MEDIUM: 1600px;
  BREAK_POINT_SMALL: 1250px;
  BREAK_POINT_TINY: 900px;
  BREAK_POINT_MOBILE: 650px
}

.container-extra-large {
  width: calc(100% - 20px);
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  transition: max-width ease-out .2s
}

@media all and (max-width: 1600px) {
  .container-extra-large {
    max-width: 1175px
  }
}

@media all and (max-width: 1250px) {
  .container-extra-large {
    max-width: 880px
  }
}

@media all and (max-width: 900px) {
  .container-extra-large {
    max-width: 620px
  }
}

@media all and (max-width: 650px) {
  .container-extra-large {
    max-width: calc(100% - 20px)
  }
}

.container-large {
  width: calc(100% - 20px);
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  transition: max-width ease-out .2s
}

@media all and (max-width: 1600px) {
  .container-large {
    max-width: 1000px
  }
}

@media all and (max-width: 1250px) {
  .container-large {
    max-width: 750px
  }
}

@media all and (max-width: 900px) {
  .container-large {
    max-width: 600px
  }
}

@media all and (max-width: 650px) {
  .container-large {
    max-width: calc(100% - 20px)
  }
}

.container-medium {
  width: calc(100% - 20px);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  transition: max-width ease-out .2s
}

@media all and (max-width: 1250px) {
  .container-medium {
    max-width: 750px
  }
}

@media all and (max-width: 900px) {
  .container-medium {
    max-width: 600px
  }
}

@media all and (max-width: 650px) {
  .container-medium {
    max-width: calc(100% - 20px)
  }
}

.container-small {
  width: calc(100% - 20px);
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  transition: max-width ease-out .2s
}

@media all and (max-width: 900px) {
  .container-small {
    max-width: 600px
  }
}

@media all and (max-width: 650px) {
  .container-small {
    max-width: calc(100% - 20px)
  }
}

.container-tiny {
  width: calc(100% - 20px);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  transition: max-width ease-out .2s
}

@media all and (max-width: 650px) {
  .container-tiny {
    max-width: calc(100% - 20px)
  }
}

.container-mobile {
  width: calc(100% - 20px);
  max-width: calc(100% - 20px);
  margin-left: auto;
  margin-right: auto;
  transition: max-width ease-out .2s
}

.theme-icon > svg {
  transition: fill linear .1s, height linear .1s, width linear .1s;
  display: block
}

.theme-logo > svg {
  transition: height ease-out .5s;
  display: block
}

.ui-form input, .ui-form textarea {
  outline: 0;
  text-decoration: none;
  font-size: 14px
}

.ui-form input:focus, .ui-form textarea:focus {
  outline: 0;
  text-decoration: none;
  font-size: 14px
}

.ui-form .ui-fields-input {
  width: 100%;
  transition: width linear .1s
}

.ui-form .ui-fields-input > label {
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding: 0;
  transition: color ease-out .1s, font-size ease-out .1s;
  letter-spacing: .05em;
  text-transform: uppercase;
  padding-bottom: 10px;
  display: inline-block
}

.ui-form .ui-fields-input input, .ui-form .ui-fields-input input:active, .ui-form .ui-fields-input input:focus {
  border: none;
  outline: 0;
  text-decoration: none;
  background: 0 0
}

.ui-form .ui-fields-input > .container {
  transition: background linear .1s;
  background: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative
}

.ui-form .ui-fields-input > .container:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: #00d692;
  transition: all .4s cubic-bezier(.215, .61, .355, 1)
}

.ui-form .ui-fields-input > .container > .left-icon {
  padding-left: 15px
}

.ui-form .ui-fields-input > .container > input {
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #211d28;
  margin: 0;
  padding: 0;
  transition: color ease-out .1s, font-size ease-out .1s;
  flex: 1;
  padding: 10px 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}

.ui-form .ui-fields-input > .container > input::placeholder {
  color: rgba(33, 29, 40, .3);
  font-style: italic
}

.ui-form .ui-fields-input > .container > .suggestions {
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background: #fff;
  width: 100%;
  top: 100%;
  transition: opacity linear .1s;
  z-index: 5
}

.ui-form .ui-fields-input > .container > .suggestions > .suggestion {
  display: block;
  text-align: left;
  width: 100%;
  border: none;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  border-top: solid #f2ebe3 1px;
  background: #fff;
  transition: background linear .1s
}

.ui-form .ui-fields-input > .container > .suggestions > .suggestion:first-child {
  border: none
}

.ui-form .ui-fields-input > .container > .suggestions > .suggestion.selected, .ui-form .ui-fields-input > .container > .suggestions > .suggestion:hover {
  background: #f5f5f5
}

.ui-form .ui-fields-input > .instructions {
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #a9a29e;
  margin: 0;
  padding: 0;
  transition: color ease-out .1s, font-size ease-out .1s;
  margin-top: 10px
}

.ui-form .ui-fields-input > .error, .ui-form .ui-fields-input > .warning {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px
}

.ui-form .ui-fields-input > .error > span, .ui-form .ui-fields-input > .warning > span {
  font-family: Arial, sans-serif;
  font-size: .9em;
  font-weight: 400;
  color: #ff504d;
  margin: 0;
  padding: 0;
  transition: color ease-out .1s, font-size ease-out .1s;
  margin-left: 10px
}

.ui-form .ui-fields-input > .warning > span {
  color: #00b9ff
}

.ui-form .ui-fields-input.active > .container:after {
  width: 100%
}

.ui-form .ui-fields-input.active > .container > .suggestions.active {
  visibility: visible;
  opacity: 1
}

.ui-form .ui-fields-input.dark > .container {
  background: #211d28
}

.ui-form .ui-fields-input.dark > .container > input {
  padding: 15px 20px
}

.ui-form .ui-fields-input.dark > .container > input::placeholder {
  color: rgba(255, 255, 255, .3)
}

.ui-form .ui-fields-input.dark.active > .container, .ui-form .ui-fields-input.dark.touched > .container {
  background: #fff
}

.ui-form .ui-fields-checkbox > .container {
  display: flex;
  align-items: center;
  justify-content: flex-start
}

.ui-form .ui-fields-checkbox > .container > label {
  font-family: Arial, sans-serif;
  font-size: .9em;
  font-weight: 700;
  color: #00b9ff;
  margin: 0;
  padding: 0;
  transition: color ease-out .1s, font-size ease-out .1s;
  letter-spacing: .05em;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 20px
}

@media all and (max-width: 1250px) {
  .ui-form .ui-fields-checkbox > .container > label {
    font-size: .8em;
    margin-left: 15px
  }
}

.ui-form .ui-fields-checkbox > .error, .ui-form .ui-fields-checkbox > .warning {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px
}

.ui-form .ui-fields-checkbox > .error > span, .ui-form .ui-fields-checkbox > .warning > span {
  font-family: Arial, sans-serif;
  font-size: .9em;
  font-weight: 400;
  color: #ff504d;
  margin: 0;
  padding: 0;
  transition: color ease-out .1s, font-size ease-out .1s;
  margin-left: 10px
}

.ui-form .ui-fields-checkbox > .warning > span {
  color: #00b9ff
}

.ui-form .field {
  margin-top: 20px
}

.ui-form .field:first-child {
  margin: 0
}

.ui-form > .submit {
  margin-top: 40px
}

.ui-form > p.error {
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #ff504d;
  margin: 0;
  padding: 0;
  transition: color ease-out .1s, font-size ease-out .1s;
  margin-top: 20px;
  text-align: center
}

.ui-loader {
  display: inline-block;
  position: relative
}

@keyframes spin {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}

.ui-loader > div {
  position: absolute;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-radius: 50%;
  animation: spin 1s linear infinite
}

.ui-button {
  display: block;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  background: 0 0;
  position: relative;
  transition: background linear .1s, border linear .1s
}

.ui-button.active > .background, .ui-button:focus > .background, .ui-button:hover > .background {
  width: 100%
}

.ui-button > .background {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 3px;
  background: #00d692;
  transition: all .4s cubic-bezier(.215, .61, .355, 1)
}

.ui-button > .container {
  width: 100%;
  position: relative;
  z-index: 0;
  min-height: 40px;
  display: flex;
  align-items: stretch;
  justify-content: space-between
}

.ui-button > .container > .body {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-shrink: 2;
  min-width: 0
}

.ui-button > .container > .body > .left-icon {
  align-self: center;
  padding: 5px;
  flex-shrink: 0
}

.ui-button > .container > .body > .left-separator {
  transition: background linear .1s;
  width: 1px;
  min-width: 1px;
  flex-shrink: 0
}

.ui-button > .container > .body > span {
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding: 0;
  transition: color ease-out .1s, font-size ease-out .1s;
  padding: 5px 10px;
  text-transform: uppercase;
  letter-spacing: .2em;
  align-self: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-shrink: 2
}

@media all and (max-width: 650px) {
  .ui-button > .container > .body > span {
    font-size: .8em
  }
}

.ui-button > .container > .right-icon {
  align-self: center;
  padding: 5px 10px;
  flex-shrink: 0
}

.ui-button > .pending {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background: #00b9ff;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility linear .1s, opacity linear .1s
}

.ui-button.pending > .pending {
  visibility: visible;
  opacity: 1
}

.ui-button.outline-green {
  background: #00b9ff
}

.ui-button.outline-green > .background {
  height: 100%;
  background: #00d692
}

.ui-button.outline-green.active > .background, .ui-button.outline-green:focus > .background, .ui-button.outline-green:hover > .background {
  width: 100%
}

.ui-button.outline-green > .container {
  padding: 10px 20px
}

.ui-button.outline-green > .container > .body > .left-separator {
  background: #f2ebe3;
  margin: 0 10px
}

.ui-button.outline-green > .container > .body > span {
  color: #f2ebe3
}

.ui-button.outline-green > .container svg {
  fill: #f2ebe3
}

.ui-button.fill-green {
  background: #00d692
}

.ui-button.fill-green > .background {
  height: 100%;
  background: #00b9ff
}

.ui-button.fill-green.active > .background, .ui-button.fill-green:focus > .background, .ui-button.fill-green:hover > .background {
  width: 100%
}

.ui-button.fill-green > .container {
  padding: 10px 20px
}

.ui-button.fill-green > .container > .body > .left-separator {
  background: #211d28;
  margin: 0 10px
}

.ui-button.fill-green > .container > .body > span {
  color: #fff;
  letter-spacing: .1em
}

.ui-button.fill-green > .container svg {
  fill: #211d28
}

.ui-image {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center
}

.ui-image > img {
  display: block;
  width: 100%;
  height: 100%
}

.ui-image > span {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center
}

.ui-check {
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  background: rgba(169, 162, 158, .1);
  border: solid rgba(169, 162, 158, .4) 1px;
  cursor: pointer;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all cubic-bezier(.215, .61, .355, 1) .4s;
  border-radius: 2px
}

.ui-check.tag {
  width: auto;
  padding: 0 10px
}

.ui-check:focus {
  outline: 0;
  box-shadow: 0 0 5px rgba(0, 185, 255, .3)
}

.ui-check > svg {
  stroke-dashoffset: 100;
  transition: stroke-dashoffset cubic-bezier(.215, .61, .355, 1) .4s
}

.ui-check > span {
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #a9a29e;
  margin: 0;
  padding: 0;
  transition: color ease-out .1s, font-size ease-out .1s
}

.ui-check[aria-pressed=true] {
  border: solid #00b9ff 1px
}

.ui-check[aria-pressed=true] > svg {
  stroke-dashoffset: 0
}

.ui-check[aria-pressed=true] > span {
  color: #00b9ff
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

a, a:active, a:visited, button {
  outline: 0;
  text-decoration: none;
  font-size: 14px
}

html {
  margin: 0;
  padding: 0
}

html > body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  cursor: default;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
  font-size: 14px;
  background: #211d28
}

.app > .body {
  min-height: calc(100vh - 150px)
}

.app > .footer {
  margin-top: 150px
}

.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai:export {
  BLUE: #00b9ff;
  DARK_BLUE: #211d28;
  NIGHT_BLUE: #18151e;
  GREEN: #00d692;
  RED: #ff504d;
  YELLOW: #ffe032;
  BEIGE: #f2ebe3;
  DARK_BEIGE: #a9a29e;
  LIGHT_GREY: #f5f5f5
}

.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai:export {
  BREAK_POINT_MEDIUM: 1600px;
  BREAK_POINT_SMALL: 1250px;
  BREAK_POINT_TINY: 900px;
  BREAK_POINT_MOBILE: 650px
}

.container-medium.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai {
  width: calc(100% - 20px);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  transition: max-width ease-out .2s
}

@media all and (max-width: 1250px) {
  .container-medium.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai {
    max-width: 750px
  }
}

@media all and (max-width: 900px) {
  .container-medium.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai {
    max-width: 600px
  }
}

@media all and (max-width: 650px) {
  .container-medium.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai {
    max-width: calc(100% - 20px)
  }
}

@keyframes svelte-1gmx9ai-spin {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}

.ui-button.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai {
  display: block;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  background: 0 0;
  position: relative;
  transition: background linear .1s, border linear .1s
}

.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai, .svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai::after, .svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

button.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai {
  outline: 0;
  text-decoration: none;
  font-size: 14px
}

main.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh
}

main.svelte-1gmx9ai > section.svelte-1gmx9ai.svelte-1gmx9ai.svelte-1gmx9ai {
  background: #18151e;
  margin: auto;
  max-width: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: #18151e 0 0 20px;
  padding: 1.5rem
}

main.svelte-1gmx9ai > section.svelte-1gmx9ai > form.svelte-1gmx9ai.svelte-1gmx9ai {
  display: flex;
  flex-direction: column
}

main.svelte-1gmx9ai > section.svelte-1gmx9ai > form.svelte-1gmx9ai > input.svelte-1gmx9ai {
  border-color: #18151e;
  height: 2.5rem;
  background-color: #211d28;
  color: #f2ebe3
}

main.svelte-1gmx9ai > section.svelte-1gmx9ai > form.svelte-1gmx9ai > p.error.svelte-1gmx9ai {
  margin: 1rem !important
}

main.svelte-1gmx9ai > section.svelte-1gmx9ai > form.svelte-1gmx9ai > .ui-button.svelte-1gmx9ai {
  height: 2.5rem;
  background-color: #00d692;
  font-size: 1rem;
  color: #f2ebe3
}