<!DOCTYPE html><html lang="en"><head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>My Routify app - button</title>

	<meta name="theme-color" content="#E938C2">
	<link rel="apple-touch-icon" href="images/touch-icons/logo-192.png">

	<link rel="manifest" href="/manifest.json">
	<link rel="icon" type="image/png" href="/favicon.png">
	
	<link rel="stylesheet" href="/build/bundle.css">

	<script type="module" defer="" src="/build/main.js"></script>
<script>window.__preRendered = true</script><script>window.__ssrRendered = true</script><meta name="description" content="Description coming soon..." data-origin="routify"><meta property="og:description" content="Description coming soon..." data-origin="routify"><meta name="title" content="My Routify app - button" data-origin="routify"><meta property="og:title" content="My Routify app - button" data-origin="routify"></head>

<body>
	<noscript>Please enable Javascript for best experience.</noscript>


<div style="" id="routify-app"><div class="container svelte-1g4848d"><nav class="svelte-lkyft0"><ul class="svelte-lkyft0"><li><a href="/">Home</a></li> <li>Components</li> <ul class="svelte-lkyft0"><li><a href="/components/button" class="active">button</a></li></ul></ul></nav> <div class="page svelte-1g4848d"><h2 id="text-field">text field</h2>  </div></div>   <div id="__routify_iframes" style="display: none;"></div></div></body></html>