@use "fonts";
.ui-form {
  input, textarea {
    outline: none;
    text-decoration: none;
    font-size: 14px;

    &:focus {
      outline: none;
      text-decoration: none;
      font-size: 14px;
    }
  }

  label {
    @include fonts.Arial(1em, white, bold);
    letter-spacing: .05em;
    padding-bottom: 10px;
    display: inline-block;
  }

  .field {
    margin-top: 20px;

    &:first-child {
      margin: 0;
    }
  }

  >.submit {
    margin-top: 40px;
  }

  >p.error {
    @include Arial(1em, $red);
    margin-top: 20px;
    text-align: center;
  }
}
