@use "colors";
@use "fonts";

.iroco-ui-form {
  input, textarea {
    outline: none;
    text-decoration: none;
    font-size: 14px;

    &:focus {
      outline: none;
      text-decoration: none;
      font-size: 14px;
    }
  }

  .iroco-ui-label {
    color: colors.$beige;
    font-weight: bold;
    letter-spacing: .05em;
    padding-bottom: 10px;
    display: inline-block;
  }

  .field {
    margin-top: 20px;

    &:first-child {
      margin: 0;
    }
  }

  >.submit {
    margin-top: 40px;
  }

  >p.error {
    color: colors.$red;
    margin-top: 20px;
    text-align: center;
  }
}



