@use 'colors';

.iroco-ui-form {
  input, textarea {
    outline: none;
    text-decoration: none;
    font-size: 14px;

    &:focus {
      outline: none;
      text-decoration: none;
      font-size: 14px;
    }
  }

  .iroco-ui-input {
    > input {
      color: colors.$beige;
      background: colors.$darkBlue;
      flex: 1;
      padding: 0.75em 1.5em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      border-color: colors.$darkBlue;
      margin-bottom: 0.5em;

      &::placeholder {
        color: rgba(colors.$beige, .5);
      }
    }
  }

  .iroco-ui-label {
    color: colors.$beige;
    font-weight: bold;
    letter-spacing: .05em;
    padding-bottom: 10px;
    display: inline-block;
  }

  .field {
    margin-top: 20px;

    &:first-child {
      margin: 0;
    }
  }

  >.submit {
    margin-top: 40px;
  }

  >p.error {
    color: colors.$red;
    margin-top: 20px;
    text-align: center;
  }
}



